/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-mar-2017, 9.13.17
    Author     : fedus
*/

/*Inizio regole per tutti i file*/
header{
    background-color: #FFFAFA; 
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    
     
}

h1{
    font: 40px/15px Arial, Helvetica, sans-serif;
   /* text-align: center;*/
    font-weight: bold;
}

h2{
   font: 20px/15px Arial, Helvetica, sans-serif;
   font-weight: bold;   
}

h3{
   font: 15px/15px Arial, Helvetica, sans-serif;
   font-weight: bold;
}

body{
   background-color: #3399FF;
   font: 15px/5px Arial, Helvetica, sans-serif; 
}


a:link{
    text-decoration: none;
    
}

a:visited{
    text-decoration: underline;
    
}

a:hover{
    font-weight: bold;    
}

/*Fine regole generali*/

.header{
    border: solid;
    text-align: center;
    width: 15.2%;
  
    float:left;
padding-bottom: 0.5%;    
}

.header h1{
     font: 35px/15px Arial, Helvetica, sans-serif;  

}

header#Login{
    border: solid;
    text-align: center;
    float:top;
    margin-left:37%;
    margin-top:13%;
    width: 25%;
    
}

header#Descrizione{
    border: solid;
    text-align: center;
    width: 99.5%;
    float:top;
    
    
}

.nav{
    background-color: white;
    font: 30px/5px Arial, Helvetica, sans-serif;
    border-radius:15px;
    /*position: fixed;
    top: 2%;
    left: 16.5%;*/
    float:left;
    display: inline-block;
    width: 81.5%;
    margin-bottom: 2%;
    margin-left: 1.5%;
    box-shadow: 0 0 10px rgba(0,0,0,1);  
    border-style: solid;
}

.nav ul{
    margin-bottom:0.6%;
    
}


nav#descrizione{
    background-color: #FFFAFA;
    font: 20px/5px Arial, Helvetica, sans-serif;
    border-radius:15px;
    border: solid;
    float:left;
    width: 18%;
    box-shadow: 0 0 10px rgba(0,0,0,1);  
    margin-top: 1.5%;
    margin-right: 0%;
}

nav#descrizione ul li{
    margin-top:2%;
    margin-bottom: 10%;
    margin-right: 15%;
    list-style-type: disc;
}


nav ul, nav li{
    list-style-type: none;
    display: inline-block;   
}

ul li{
    list-style-type: none;
}


ul#logout{
    font: 20px/4px Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-left: 35%;
}

.colonna{
    background-color: white;
    float:left;
    width: 15.5%;
    margin-right: 2%;
    margin-bottom: 60%;
    margin-top: 0%;
    border-radius: 5px;
    padding-bottom: 8.5%;
    border-style: solid;
    box-shadow: 0 0 10px rgba(0,0,0,1);
}

.colonna ul li{
    padding-bottom: 2%;
    list-style-type: disc;
}


div#center{
    margin-top: 1.5%;
    border-style: solid;
    float: left;
    width: 80.75%;
    padding-bottom: 1%;
   
    
}


div#center h2{
    display: inline-block;
}

.post{
    /*text-align: left;*/
    background-color: white;
    border-radius:5px;
    border-style: solid;
    padding-left:10px;
    /*padding-right: 35%;*/
    margin-top: 1.5%;
    margin-left:1.5%;
    display: block;
    width: 95%;
    
    box-shadow: 0 0 10px rgba(0,0,0,1);
    
}


.post img{
    max-width:50px;
    max-height: 50px;
    margin-top:2%;
}

.imgpost img{
    max-width: 2000px;
    max-height: 2000px;
}

.post p{
    position: relative;
    top:15%;
    
    
}

div#stato{
    /*text-align: left;*/
    border-radius:5px;
    padding-left:1%;
    margin-top: 0%;
    display: inline-block;
    float: left;
    width: 79.75%; 
    box-shadow: 0 0 10px rgba(0,0,0,1);
    border-style: solid;
    background-color: white;
       
}

div#stato ul li{
    list-style-type: none;
    display:inline-block;
}

div#stato ul{
    margin-top:1%;
    margin-bottom:0;
}

div#stato img{
    max-width: 40px;
    max-height: 40px;
}

div#Registrazione{
    float: left;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    border-style: solid;
    width: 80.5%;
}

div#Registrazione ul li{
    margin-bottom: 1.5%;
    margin-right: 10%;
}

div#imgprofilo{
    float:left;
    margin-left: 3.5%;
    margin-right: 10%;
    margin-bottom: 10%;
}



div#Registrazione ul#lista li input, ul#lista li label, ul#lista li textarea{
    width: 200px;
    height:10px;
}

div#Registrazione ul#lista input, label{
    display: inline-block;
}

ul#lista label{
    text-align:left;
}
.colonna h2{
    padding-left:6%;
    padding-bottom: 3%;
}

div#LoginBody{
    float: top;
    border: solid;
    padding-bottom: 2%;
    background-color: white;
    border-radius:5px;
    display: block;
    width: 40%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    
    margin-left: 30%;
}

div#LoginBody h2{
    text-align: center;
}

div#LoginBody input{
    margin-bottom: 2%;
    
}

div#LoginBody form{
    margin-left: 25%;
}

div#LoginBody form button{
    margin-left: 30%;
}

#divBody{
    background-color: white;
    
}

.descr{
    background-color: white;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    border-radius: 5px;  
    float: right;
    width: 79.20%;
    border-style: solid;
    box-shadow: 0 0 10px rgba(0,0,0,1);
}.descr p img{
    max-width:100%;
    max-height:100%;
}

.iscr{
    background-color: white;
    margin-top: 1.5%;
    margin-right: 1.5%;
    border-radius: 5px;
    float: left;
    width: 18%;
    border-style: solid;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    
}

.iscr ol li{
    margin-bottom: 2.5%;
    padding-bottom: 10%;
    font: 15px/15px Arial, Helvetica, sans-serif;
}
/*le seguenti immagini sono decorativve poichè non aggiungono informazione alla pagina, ma servono solo per abbellire*/
nav#descrizione ul li:before{
    content: url("img/circle.png");
}


ul#logout:before{
    content: url("img/user.png");
}

.user:before{
    content: url("img/user.png");
}

@media only screen and (max-width: 480px){
    
    .header{
        float: top;
        width: 100%;
    }
    
    
    .nav{
        float:top;
        width: 100%;
        margin-left:0;
    }
    
    .nav ul{
        font: 20px/10px Arial, Helvetica, sans-serif;
        margin-top: 5%;
        padding-left: 3%;
        margin-left: 26%;
        margin-bottom:0%;
    }
    
    ul#logout{
        font: 20px/4px Arial, Helvetica, sans-serif;
        text-decoration: none;
        margin-bottom:3%;
        margin-left: 20%;      

    }
    
    .colonna{
        width: 100%;
        margin-bottom: 1.5%;
    }
    
    .colonna ul{
        margin-left: 25%;
        font: 13px/10px Arial, Helvetica, sans-serif;
    }
    
    .colonna h2{
        margin-left: 27%;
    }
    
    div#stato{
        width:99%;
    }
    .stato{
        float: top;
        width: 100%;
        margin-top:0%;
    }
    
    .post{
        float:top;
        width: 100%;
        margin-top:0%;
        margin-left: 0%;
        font: 13px/10px Arial, Helvetica, sans-serif;
        
    }
    
    div#center{
        width: 98%;
        border: 0;
        padding-bottom: 2%;
        
    }
    
    div#imgprofilo{
        padding-left: 22.5%;
        
    }
        
    header#Login{
        width:100%;
        margin:0;
     
    }
    
    div#LoginBody{
        width:100%;
        margin:0;
    }
    
    header#Descrizione{
        width:100%;
        font: 10px/5px Arial, Helvetica, sans-serif;
    }
    
    nav#descrizione{
        text-align:center;
        width:100%;
        font: 16px/5px Arial, Helvetica, sans-serif;
        
        
    }
    
    nav#descrizione ul li{
        margin:0;
        padding:0;
               
    }
    
    .descr{
        width:100%;
        
    }
    
    .descr p img{
        max-width:100%;
        max-height:100%;
    }
    
    .descr p#testo{
        margin-bottom: 6%;
        font: 15px/15px Arial, Helvetica, sans-serif;
    }
    
    .iscr{
        width:98.5%;
        margin-left: 1.5%;
        margin-right: 0%;
        
    }
    
    .iscr ol{
        margin-right: 3.5%;
    }
    
    div#Registrazione{
        width:100%;
    }
    
    div#Registrazione form ul{
        margin-left: 15%;
    }
    
    div#Registrazione form ul li{
        margin-bottom: 5.5%;
    }
    
    div#Registrazione form ul li button{
        margin-left: 25%;
    }
    
    
    
  }
  
  @media only screen and (max-width: 850px) and (min-width:481px){
    
    .header{
        float: top;
        width: 100%;
    }
    
    
    .nav{
        float:top;
        width: 100%;
        margin-left:0;
    }
    
    .nav ul{
        font: 20px/10px Arial, Helvetica, sans-serif;
        margin-top: 5%;
        padding-left: 3%;
        margin-left: 26%;
        margin-bottom:0%;
    }
    
    ul#logout{
        font: 20px/4px Arial, Helvetica, sans-serif;
        text-decoration: none;
        margin-bottom:3%;
        margin-left: 20%;      

    }
    
    .colonna{
        width: 100%;
        margin-bottom: 1.5%;
    }
    
    .colonna ul{
        margin-left: 25%;
        font: 13px/10px Arial, Helvetica, sans-serif;
    }
    
    .colonna h2{
        margin-left: 27%;
    }
    
    div#stato{
        width:99%;
    }
    .stato{
        float: top;
        width: 100%;
        margin-top:0%;
    }
    
    .post{
        float:top;
        width: 100%;
        margin-top:0%;
        margin-left: 0%;
        font: 13px/10px Arial, Helvetica, sans-serif;
        
    }
    
    div#center{
        width: 98%;
        border: 0;
        padding-bottom: 2%;
        
    }
    
    div#imgprofilo{
        padding-left: 22.5%;
        
    }
        
    header#Login{
        width:100%;
        margin:0;
     
    }
    
    div#LoginBody{
        width:100%;
        margin:0;
    }
    
    header#Descrizione{
        width:100%;
        font: 10px/5px Arial, Helvetica, sans-serif;
    }
    
    nav#descrizione{
        text-align:center;
        width:100%;
        font: 16px/5px Arial, Helvetica, sans-serif;
        
        
    }
    
    nav#descrizione ul li{
        margin:0;
        padding:0;
               
    }
    
    .descr{
        width:100%;
        
    }
    
    .descr p img{
        max-width:100%;
        max-height:100%;
    }
    
    .descr p#testo{
        margin-bottom: 6%;
        font: 15px/15px Arial, Helvetica, sans-serif;
    }
    
    .iscr{
        width:98.5%;
        margin-left: 1.5%;
        margin-right: 0%;
        
    }
    
    .iscr ol{
        margin-right: 3.5%;
    }
    
    div#Registrazione{
        width:100%;
    }
    
    
  }
  
@media only screen and (max-width: 1024px) and (min-width: 851px){
      
      .header{
        float: top;
        width: 100%;
    }
    
    
    .nav{
        float:top;
        width: 100%;
        margin-left:0;
    }
    
    .nav ul{
        font: 20px/5px Arial, Helvetica, sans-serif;
        margin-top: 4%;
        padding-left: 7%;
        margin-left: auto;
        margin-right: auto;
    }
    
    ul#logout{
        font: 20px/4px Arial, Helvetica, sans-serif;
        text-decoration: none;
        margin-bottom:1.5%;
        margin-left: 5%;  
        margin-top:1.5%;

    }
    
    .colonna{
        width: 30%;
        margin-bottom: 1.5%;
    }
    
    .colonna ul{
        margin-left: 15%;
        font: 13px/10px Arial, Helvetica, sans-serif;
    }
    
    .colonna h2{
        margin-left: 27%;
    }
    
    div#stato{
        width:64%;
    }
    .stato{
        float: left;
        width: 64%;
        margin-top:0%;
    }
    
    .post{
        float:left;
        width: 100%;
        margin-top:0%;
        margin-left: 0%;
        font: 13px/10px Arial, Helvetica, sans-serif;
        
    }
    
    div#center{
        width: 64%;
        border: 0;
        padding-bottom: 2%;
        
    }
    
     header#Login{
        width:100%;
        margin:0;
     
    }
    
    div#LoginBody{
        width:100%;
        margin:0;
    }
    
    header#Descrizione{
        width:100%;
        font: 10px/5px Arial, Helvetica, sans-serif;
    }
    
    nav#descrizione{
        text-align:center;
        width:100%;
        font: 16px/5px Arial, Helvetica, sans-serif;
        
        
    }
    
    nav#descrizione ul li{
        margin:0;
        padding:0;
               
    }
    
    .descr{
        width:100%;
        
    }
    
    .descr p img{
        max-width:100%;
        max-height:100%;
    }
    
    .descr p#testo{
        margin-bottom: 6%;
        font: 15px/15px Arial, Helvetica, sans-serif;
    }
    
    .iscr{
        width:98.5%;
        margin-left: 1.5%;
        margin-right: 0%;
        font: 15px/5px Arial, Helvetica, sans-serif;
        
    }
    
    .iscr ol{
        margin-right: 3.5%;
    }
    
    .iscr ol li{
        padding-bottom: 1.5%;
    }
    
    div#Registrazione{
    float: left;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    border-style: solid;
    width: 65%;
}

    div#Registrazione ul li{
        margin-top: 2%;
        margin-right: 15%;

    }

    div#imgprofilo{
        float:left;
        margin-left: 32.5%;
        margin-right: 100%;
        margin-bottom: 10%;
    }
    
    div#imgprofilo img{
        max-width: 150px;
        max-height: 150px;
    }

    div#Registrazione ul li label{
        float:left;
    }

  }
  
  @media only screen and (min-width: 1024px){ /*in questo caso si usano le regole generali*/}