/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-mar-2017, 9.13.17
    Author     : fedus
*/

/*Ho cercato un font online e ho trovato un codice adattabile su questo sito:
* http://www.html.it/pag/18954/font-personalizzati-con-font-face/ 
*/
@font-face {
   font-family: 'asrafel';
   src: local('asrafel'), url('asrafel.ttf') format('truetype');
}

/*Inizio regole per tutti i file*/
header{
    background-color: #FFFAFA; 
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    
     
}


h1{
    font: 40px/15px Arial, Helvetica, sans-serif;
   /* text-align: center;*/
    font-weight: bold;
}

h2{
   font: 20px/30px Arial, Helvetica, sans-serif;
   font-weight: bold;
   padding-top: 10px;
    
}

h3{
   font: 15px/15px Arial, Helvetica, sans-serif;
   font-weight: bold;
   padding-top: 10px;
}

body{
   background-color: #3399FF;
   font: 15px/5px Arial, Helvetica, sans-serif; 
}


a:link{
    text-decoration: none;
    
}

a:visited{
    text-decoration: underline;
    
}

a:hover{
    font-weight: bold;    
}

form{
    text-align: center;
    
}

/*Fine regole generali*/

/*Inizio regole bacheca*/

header#Bacheca{
    border: solid;
    text-align: center;
    width: 15.2%;
    height: 9%;
    position: fixed;
    top:2%;
    margin-bottom: 2%;
    
}

header#Profilo{
    border: solid;
    text-align: center;
    width: 15.2%;
    height: 9%;
    position: fixed;
    top:2%;
    margin-bottom: 2%;
    
}

header#Login{
    border: solid;
    text-align: center;
    position: fixed;
    top: 22%;
    left: 35%;
    width: 30%;
    
    
}
header#Descrizione{
    border: solid;
    text-align: center;
    width: 45%;
    height: 9%;
    position: fixed;
    top:2%;
    margin-bottom: 2%;
    
}

nav#bacheca{
    background-color: white;
    font: 30px/5px Arial, Helvetica, sans-serif;
    border-radius:15px;
    position: fixed;
    top: 2%;
    left: 16.5%;
    display: inline-block;
    height: 10%;
    width: 60.5%;
    margin-bottom: 2%;
    margin-left: 1.5%;
    box-shadow: 0 0 10px rgba(0,0,0,1);  
    border-style: solid;
}

nav#profilo{
    background-color: white;
    font: 30px/5px Arial, Helvetica, sans-serif;
    border-radius:15px;
    position: fixed;
    top: 2%;
    left: 16.5%;
    display: inline-block;
    height: 10%;
    width: 60.5%;
    margin-bottom: 2%;
    margin-left: 1.5%;
    box-shadow: 0 0 10px rgba(0,0,0,1); 
    border-style: solid;
}

nav#descrizione{
    background-color: #FFFAFA;
    font: 30px/5px Arial, Helvetica, sans-serif;
    border-radius:15px;
    border: solid;
    position: fixed;
    top: 2%;
    left: 46%;
    display: inline-block;
    height: 10%;
    width: 54%;
    margin-bottom: 2%;
    box-shadow: 0 0 10px rgba(0,0,0,1);   
}

nav ul, nav li{
    list-style-type: none;
    display: inline-block;   
}

ul li{
    list-style-type: none;
}


ul#logout{
    font: 20px/4px Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-left: 30%;
}

div#colonna1{
    list-style-type: none;
    background-color: white;
    float:left;
    width: 15.5%;
    height: 200%;
    margin-right: 2%;
    margin-bottom: 60%;
    margin-top: 6.5%;
    border-radius: 5px;
    padding-bottom: 25.5%;
    border-style: solid;
    box-shadow: 0 0 10px rgba(0,0,0,1);
}

div#colonna2{
    background-color: white;
    float:left;
    width: 15.5%;
    height: 200%;
    margin-right: 2%;
    margin-bottom: 60%;
    margin-top: 6.5%;
    border-radius: 5px;
    padding-bottom: 8.5%;
    border-style: solid;
    box-shadow: 0 0 10px rgba(0,0,0,1);
}


div#colonna1 h2{
    padding-left: 4.5%;
}

div#colonna2 h2{
    padding-left: 4.5%;
}

.user:before{
    content: url("img/user.png");
}

div#stato{
    /*text-align: left;*/
    background-color: white;
    border-radius:5px;
    padding-left:10px;
    margin-top: 6.5%;
    display: block;
    float: left;
    width: 60%;
    height: 50%; 
    box-shadow: 0 0 10px rgba(0,0,0,1);
    border-style: solid;
    
}

div#stato ul{
    padding-left: 0;
}

div#stato h2{
    padding-bottom: 4%;
}

.post{
    /*text-align: left;*/
    background-color: white;
    border-radius:5px;
    border-style: solid;
    padding-left:10px;
    margin-top: 1.5%;
    display: block;
    width: 60%;
    float: left;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    
}

ul#stato1 li{
    list-style-type: none;
    display: inline-block;
}


div#Registrazione{
    padding-left: 1%;
    background-color: white;
    margin-top: 6.5%;
    background-color: white;
    border-radius:5px;
    margin-bottom: 1.5%;
    display: block;
    width: 59.5%;
    float: left;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    border-style: solid;
   
}



div#Registrazione ul{
    list-style-type: none;
}

div#Registrazione ul li{ /*separo gli elementi della lista di un tot*/
    padding-bottom: 5%;
}

div#Registrazione ul li label{ /*sposto le etichette dei campi di input a sx, ma non al margine */
    float: left;
    margin-left: 20%;
}

div#Registrazione ul li#frase{ /*con le seguenti due regole, allineo correttamente i due campi della passw*/
    padding-bottom: 9%;
}

.pass label{
    margin-top: 1%;
}

div#Registrazione ul li#propic input{ /*allineo il campo file */
    padding-right: 0%;
}

div#Registrazione ul li button{ /*sposto il bottone di invio */
    float: left;
    margin-left: 20%;
    
}

div#Registrazione ul li input{ /*sposto i campi di input a dx, separandole di un tot dal margine dx */
    float: right;
    padding-right: 10%;
    margin-right: 20%;
}

div#Registrazione ul li textarea{
    float: right;
    padding-right: 8.75%;
    margin-right: 20%;
}

li#data input{
    padding-left: 2.30%;
        
}

li#propic label{
    padding-right: 0%;
    margin-right: 0%;
}

div#LoginBody{
    margin-top: 15%;
    float: top;
    border: solid;
    padding-bottom: 2%;
    background-color: white;
    border-radius:5px;
    display: block;
    width: 40%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    
    margin-left: 30%;
}

div#LoginBody h2{
    text-align: center;
}

div#LoginBody input{
    margin-bottom: 2%;
    
}

#divBody{
    background-color: white;
    
}

.descr{
    background-color: white;
    margin-top: 4.5%;
    border-radius: 5px;  
    float: right;
    width: 50%;
}

.iscr{
    background-color: white;
    margin-top: 4.5%;
    border-radius: 5px;
    float: left;
    width: 46%;
    height: 50%;
    
}

.iscr ol li{
    margin-bottom: 2.5%;
}